{%extends "base.html"%}
{%load i18n %}
{%block content%}

<div class ="container mt-5 text-cetner">
    <div class="logout-box mx-auto p-4">
        <h1>Sign out</h1>
        <P>Are you sure you want to sign out?</P>
        <form method="POST" action="{%url 'account_logout'%}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">
                Sign Out
            </button>
            <a href="/" class ="btn btn-outline-light ms-2">
                Cancel
            </a>
        </form>
    </div>
</div>
{% endblock %}