{% extends "base.html" %}
{% block content %}

<!--Main course section -->
<div class="container mt-4">

 <!--page heading-->
 <div class="text-center mb-4">
    <h1>Webcode Center</h1>
    <p>learn coding and become developer with Webcode Center</p>
 </div>
<!--Course search -->
<input 
type="text"
id="course-search"
class="form-control mb-4"
placeholder="Search courses">

 <!--Course list-->
 <div class="row">

  {% for course in courses %}

  <!--Courses cards-->
  <div class="col-md-6 col-lg-4 mb-4 course-card">
    <div class="card h-100">

        <div class="card-body">

            <!--Course title-->
            <h2 class="card-title h4">
                {{ course.title }}
            </h2>

        <!--Course description-->
        <p class="card-text">
            {{ course.description }}
        </p>

    <!--Course details button-->
    <a href="{%url 'course_detail' course.id %}"
    class="btn btn-primary">
    View Course
    </a>
        </div>
    </div>
  </div>
  {% empty %}

  <!-- Message if there are no courses -->
   <p> there is no courses yet.</p>
{% endfor %}
 </div>
</div>
{% endblock %}

