{% extends "base.html" %}
{% block content %}
<!-- Course details -->
 <div class="container mt-4">
    <div class="card">
        <div class="card-body">

            <!--course tile-->
            <h1 class="card-title">
                {{course.title}}
            </h1>
        <!--course description-->
        <p class="card-text">
            {{course.description}}
        </p>
    <!-- course price-->
     <p>
        <strong>Price:</strong> ${{ course.price }}
     </p>

     <!--lessons-->
     <h2 class="h4 mb-3">Lessons</h2>

     {% for lesson in course.lessons.all %}

     <!-- Lessons item -->
      <div class="border rounded p-3 mb-3">
        <h3 class="h5"> 
            {{lesson.title}}
            </h3>

        <p class="mb-0">
            {{ lesson.content }}
        </p>
      </div>
    {% empty %}

    <p>No Lessons yet.</p>
    {% endfor %}
<!-- Back button -->
 <a href = "{% url 'courses_home' %}"
 class="btn-btn-secondary">
Back to courses</a>
        </div>
      </div>
        </div>
{%endblock%}
